.navbar{
    background-color: black;
    overflow: hidden;
}
.navbar a{
    color:white;
    float:left;
    text-decoration: underline;
    text-align: center;
    padding: 20px 25px;
    font-size: 17px
}
.navbar a:hover{
    background-color: grey;
    color:black;
}
img{
    height:100px;
    margin:20px;
    width:100px;
}
.part2{
    text-align: center;
    background-color: aquamarine;
}
.part3{
    text-align:center;
    background-color: beige;
}
.part4{
    text-align: center;
    background-color: black;
    color: white;
}